header #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #nav p {
  font-size: 0.6rem;
  color: white;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

header #nav p img {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

header #nav .icon {
  fill: white;
  cursor: pointer;
}

header #nav .navbar input,
header #nav .nav-menu,
header #nav .dropdown {
  display: none;
}

header #nav [id^=btn]:checked + ul {
  display: block;
}

header #nav .nav-menu {
  position: absolute;
  left: 0;
  margin: 0;
  z-index: 10;
}

header #nav .nav-item a,
header #nav .drop-item a,
header #nav .show {
  color: white;
  text-decoration: none;
  line-height: 55px;
  font-size: 0.5rem;
  font-family: Myriad Pro Condensed;
}

header #nav .nav-menu a {
  font-weight: bold;
}

header #nav .nav-menu a:hover,
header #nav .show:hover {
  color: #ee7d00;
}

header #nav .burger {
  width: 33px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

header #nav .burger:hover span::after,
header #nav .burger:hover span::before {
  background-color: #ee7d00;
}

header #nav .burger:hover span {
  background-color: sienna;
}

header #nav .burger span {
  width: 80%;
  height: 3px;
  background-color: #ee7d00;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

header #nav .burger span::before,
header #nav .burger span::after {
  content: '';
  position: absolute;
  width: 100%;
  min-height: 3px;
  background-color: #ee7d00;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  border-radius: 5px;
}

header #nav .burger span::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

header #nav .burger span::after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

header #nav .burger.active span {
  background-color: transparent;
}

header #nav .burger.active span::before {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
}

header #nav .burger.active span::after {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}

#realisations {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
}

.grid.grid-1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid.grid-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

@media screen and (min-width: 576px) {
  .grid.grid-3 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .grid.grid-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .grid.grid-4 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .grid.grid-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .grid.grid-5 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .grid.grid-5 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .grid.grid-5 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid.grid-5 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.diapo {
  position: relative;
  overflow: hidden;
  margin-top: 1%;
}

.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.element {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.element > img {
  width: 100%;
}

#gauche, #droite {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: red;
  font-size: 10rem;
}

#droite {
  right: 0;
}

footer {
  position: relative;
  font-size: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .nav-menu a:hover,
footer a:hover {
  color: #ee7d00;
}

footer #foothaut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #foothaut img {
  margin-right: 17px;
}

footer p {
  margin: 0;
}

footer p a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

footer ul {
  margin: 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
  font-size: 0.5rem;
  color: black;
  text-decoration: none;
}

footer ul li a {
  text-decoration: none;
  color: white;
  margin-left: 3px;
}

footer #navfoot {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
}

* {
  font-family: Myriad Pro Condensed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body #carte {
  height: 180px;
  margin: 10px;
}

body #scrollUp {
  width: 5px;
  position: fixed;
  bottom: 85px;
  right: 20px;
  z-index: 1000;
}

body .remonte {
  -webkit-filter: drop-shadow(white 0px 0px 5px) drop-shadow(white -1px -1px 2px);
          filter: drop-shadow(white 0px 0px 5px) drop-shadow(white -1px -1px 2px);
}

body ul {
  padding: 0;
  text-align: center;
}

body li {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
}

body main #fond1 {
  width: 600px;
  position: absolute;
  right: 33%;
  top: 79%;
  z-index: -1;
  opacity: 7%;
}

body main #fond2 {
  width: 300px;
  position: absolute;
  top: 24%;
  left: 6%;
  z-index: -1;
  opacity: 7%;
}

body main .titre {
  width: 200px;
  height: 20px;
  background-color: black;
  margin: auto;
  border-radius: 5px;
}

body main .titre h1 {
  margin: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: #ee7d00;
}

body main #flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #flex #agrement {
  text-align: center;
  margin-top: 10px;
}

body main #flex #agrement p {
  font-size: 0.7rem;
}

body main #flex #adress {
  text-align: left;
  margin-left: 10px;
  text-align: center;
}

body main #flex #adress h1 {
  margin: 0;
  margin-top: 10px;
  font-size: 1rem;
}

body main #flex #adress h2 {
  margin: 0;
  font-size: 1.1rem;
}

body main #flex #adress p {
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */