.diapo {
    position: relative;
    overflow: hidden;
    margin-top: 1%;
}

.elements {
    display: flex;
    text-align: center;
}

.element {
    width: 100%;
    flex: 1 0 100%;
    position: relative;
}

.element>img{
    border-radius: 5px;
    width: 100%;
}

#gauche {
    left: 2%;
}

#gauche,
#droite {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(rgb(255, 255, 255) 0px 0px 5px) drop-shadow(rgb(255, 255, 255) -1px -1px 2px);

}

#droite {
    right: 2%;
}

legend {
    color: white;
    text-shadow: black 1px 1px 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    h1{
        width: 100%;
        font-size: 1.5rem;
    }
    p{
        font-size: 1.4rem;
    }
}