#realisations{
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    

    &.grid-1{
        grid-template-columns: 1fr ;
    }
    &.grid-2 {
        
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    &.grid-3 {
        @media screen and (min-width: 576px) {
            grid-template-columns: 1fr 1fr ;
        }
        @media screen and (min-width: 800px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &.grid-4 {
        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr ;
        }

        @media screen and (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    &.grid-5 {
        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr ;
        }
        @media screen and (min-width: 992px) {
            grid-template-columns: 1fr 1fr ;
        }

        @media screen and (min-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: 1500px) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}
