footer {
    position: relative;

    img {
        vertical-align: bottom;
    }

    #nav {
        position: absolute;
        width: 100%;

        p {
            text-align: center;
            margin: 0;

            .nav-menu a:hover,
            a:hover {
                color: #ee7d00;
            }
        }


        #foothaut {
            justify-content: space-around;
            width: 100%;
            text-align: left;
        }


    }

    #text {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: white;
            margin-left: 5px;
            margin-right: 5px;
        }

    }
}