footer {
    #nav {
        position: absolute;
        width: 100%;
        p {
            margin-bottom: 0;
            text-align: center;
            .nav-menu a:hover,
            a:hover {
                color: #ee7d00;
            }
        }


        #foothaut {
            justify-content: space-around;
            width: 100%;
            text-align: left;
        }

        a {
            text-decoration: none;
            color: white;
            margin-left: 5px;
        }

    }
}
