header {
    #nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;

        p {
            font-size: 0.6rem;
            color: white;
            transform: translateY(-7px);

            img {
                transform: translateY(7px);
            }
        }

        .icon {
            fill: white;
            cursor: pointer;
        }

        .navbar input,
        .nav-menu,
        .dropdown {
            display: none;
        }

        [id^=btn]:checked+ul {
            display: block;
        }

        .nav-menu {
            position: absolute;
            left: 0;
            margin: 0;
            padding-top: 10px;
            z-index: 10;
            ;
        }

        .nav-item a,
        .drop-item a,
        .show {
            color: white;
            text-decoration: none;
            line-height: 55px;
            font-size: 0.5rem;
            font-family: Myriad Pro Condensed;
        }

        .nav-menu a {
            font-weight: bold;
        }

        .nav-menu a:hover,
        .show:hover {
            color: #ee7d00;
        }

        .burger {
            width: 33px;
            height: 24px;
            cursor: pointer;
            position: relative;
        }

        .burger:hover span::after,
        .burger:hover span::before {
            background-color: #ee7d00;
        }

        .burger:hover span {
            background-color: sienna;
        }

        .burger span {
            width: 80%;
            height: 3px;
            background-color: #ee7d00;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color 0.1s ease-in-out;
        }

        .burger span::before,
        .burger span::after {
            content: '';
            position: absolute;
            width: 100%;
            min-height: 3px;
            background-color: #ee7d00;
            transition: transform 0.5s ease-in-out;
            border-radius: 5px;
        }

        .burger span::before {
            transform: translateY(-7px);
        }

        .burger span::after {
            transform: translateY(7px);

        }

        .burger.active span {
            background-color: transparent;
        }

        .burger.active span::before {
            transform: translateY(0px) rotate(45deg);
        }

        .burger.active span::after {
            transform: translateY(0px) rotate(-45deg);
        }
    }
}