header {
    position: relative;
    box-sizing: border-box;

    #nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        align-items: flex-start;
        min-height: 100%;

        #tel {
            margin-top: 5px;
        }

        p {
            font-size: 1.2rem;
            color: white;
            margin: 0;
            img{
                vertical-align: top;
            }
        }

        .icon {
            fill: white;
            cursor: pointer;
        }

        .navbar input,
        .nav-menu,.dropdown {
            display: none;
        }

        [id^=btn]:checked+ul {
            display: block;
        }

        .nav-menu {
            background-color: black;
            position: absolute;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            border-radius: 10px;
        }

        .nav-item a,
        .drop-item a,
        .show {
            color: #ee7d00;
            text-decoration: none;
            line-height: 55px;
            font-size: 1.4rem;
            font-family: Myriad Pro Condensed;
        
        }

        .nav-menu a,.show  {
            font-weight: bold;
            font-family: Myriad Pro Condensed;

        }

        .nav-menu a:hover,
        .show:hover {
            color: white;
        }

        .burger {
            width: 33px;
            height: 24px;
            cursor: pointer;
            position: relative;
            margin-top: 5px;
        }

        .burger:hover span::after,
        .burger:hover span::before {
            background-color: #ee7d00;
        }

        .burger:hover span {
            background-color: sienna;
        }

        .burger span {
            width: 80%;
            height: 3px;
            background-color: #ee7d00;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color 0.1s ease-in-out;
        }

        .burger span::before,
        .burger span::after {
            content: '';
            position: absolute;
            width: 100%;
            min-height: 3px;
            background-color: #ee7d00;
            transition: transform 0.5s ease-in-out;
            border-radius: 5px;
        }

        .burger span::before {
            transform: translateY(-6px);
        }

        .burger span::after {
            transform: translateY(6px);

        }

        .burger.active span {
            background-color: transparent;
        }

        .burger.active span::before {
            transform: translateY(0px) rotate(45deg);
        }

        .burger.active span::after {
            transform: translateY(0px) rotate(-45deg);
        }
    }

    @media screen and (min-width: 1000px) {
        #nav {

            .icon {
                display: none;
            }

            .nav-menu {
                display: block;
                bottom: 3%;

                a {
                    font-size: 1.5rem;
                }
            }

            .nav-item {
                display: inline-block;
                margin-left: 20px;
                position: relative;
                z-index: 100;
            }
        }
    }
}