footer {
    position: relative;
    font-size: 0.5rem;
    align-items: center;
    .nav-menu a:hover,
    a:hover {
        color: #ee7d00;
    }

    #foothaut {
        display: flex;

        img {
            margin-right: 17px;
        }
    }
p{
    margin: 0;
    a {
        text-decoration: none;
        color: white;
        margin-left: 10px;
    }
}

    ul {
        margin: 0;

        li {
            list-style: none;
            display: inline-block;
            margin-left: 5px;
            font-size: 0.5rem;
            color: black;
            text-decoration: none;

            a {
                text-decoration: none;
                color: white;
                margin-left: 3px;
            }
        }
    }

    #navfoot {
        position: absolute;
        z-index: -1;
        top: 0;
        height: 100%;
    }
}