@import "navhead";
@import "grid";
@import "diaporama";
@import "navfoot";

* {
    font-family: Myriad Pro Condensed;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    #carte {
        height: 180px;
        margin: 10px;
    }

    #scrollUp {
        width: 5px;
        position: fixed;
        bottom: 85px;
        right: 20px;
        z-index: 1000;
    }

    .remonte {
        filter: drop-shadow(rgb(255, 255, 255) 0px 0px 5px) drop-shadow(rgb(255, 255, 255) -1px -1px 2px);
    }

    ul {
        padding: 0;
        text-align: center;

    }

    li {
        list-style: none;
        display: inline-block;
        margin-left: 5px;
    }

    main {
        #fond1 {
            width: 600px;
            position: absolute;
            right: 33%;
            top: 79%;
            z-index: -1;
            opacity: 7%;
        }
        #fond2{
            width: 300px;
            position: absolute;
            top: 24%;
            left: 6%;
            z-index: -1;
            opacity: 7%;

        }

        .titre {
            width: 200px;
            height: 20px;
            background-color: black;
            margin: auto;
            border-radius: 5px;

            h1 {
                margin: auto;
                text-align: center;
                align-items: center;
                font-size: 1rem;
                color: #ee7d00;
            }
        }

        #flex {
            display: flex;

            #agrement {
                text-align: center;
                margin-top: 10px;

                p {
                    font-size: 0.7rem;
                }
            }

            #adress {
                text-align: left;
                margin-left: 10px;
                text-align: center;

                h1 {
                    margin: 0;
                    margin-top: 10px;
                    font-size: 1rem;
                }

                h2 {
                    margin: 0;
                    font-size: 1.1rem;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}