@import "navhead";
@import "grid";
@import "diaporama";
@import "navfoot";

:root {
    font-size: 12px;
}

* {
    font-family: Myriad Pro Condensed;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    #carte {
        height: 250px;
        margin: 10px;
    }

    #scrollUp {
        position: fixed;
        bottom: 85px;
        right: 20px;
        z-index: 1000;
    }

    .remonte {
        filter: drop-shadow(rgb(255, 255, 255) 0px 0px 5px) drop-shadow(rgb(255, 255, 255) -1px -1px 2px);
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    li {
        list-style: none;
        margin-left: 5px;
    }

    main {
        position: relative;
        text-align: center;
        font-size: 1.2rem;

        #titrepage {
            width: 200px;
            height: 40px;
            background-color: black;
            border-radius: 5px;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                text-align: center;
                font-size: 1.4rem;
                color: #ee7d00;
            }
        }

        .titre {
            width: 200px;
            height: 20px;
            background-color: black;
            margin: auto;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                text-align: center;
                font-size: 1.4rem;
                color: #ee7d00;
            }
        }

        #diaporama {
            background-image: url(/images/logo/engrenage.png);
            background-repeat: no-repeat;
            background-size: 300px;
            background-position: right;
        }

        #realisations {
            background-image: url(/images/logo/engrenage.png);
            background-repeat: no-repeat;
            background-size: 500px;
            background-position: left;
        }

        #flex {
            display: flex;
            justify-content: space-around;
            margin: 10px;

            #agrement {
                text-align: center;
                margin-top: 2px;

                p {
                    font-size: 1.5rem;
                }
            }

            #adress {
                text-align: left;
                margin-left: 10px;
                text-align: center;

                h1 {
                    margin: 0;
                }

                h2,
                p {
                    margin: 0;
                    font-size: 1.5rem;
                }
            }
        }

        .serv {
            padding: 10px;
            text-align: center;

        }

        #adress {

            h1,
            h2,
            p {

                margin: 5px;
            }
        }
    }
}

@media screen and (min-width: 400px) {
    :root {
        font-size: 13px;
    }

    body {
        .remonte {
            width: 30px;
        }

        main {

            #gauche,
            #droite {
                width: 30px;
            }

            #flex {
                img {
                    width: 120px;
                }
            }
        }

        .titre {
            height: 60px;

            h1 {
                font-size: 1.6rem;

            }
        }
    }

    p {
        font-size: 1.2rem;
    }
}


@media screen and (min-width: 800px) {
    body {
        header {
            #nav {
                p {
                    font-size: 2rem;

                    img {
                        width: 30px;
                    }
                }
            }
        }

        #carte {
            height: 500px;
        }

        main {
            .titre {
                width: 500px;
                height: 40px;

                h1 {
                    font-size: 2rem;
                }
            }

            #flex {
                #agrement {
                    p {
                        font-size: 1.8rem;
                    }

                    img {
                        width: 200px;
                    }
                }

                #adress {

                    h1,
                    h2,
                    p {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        footer {
            #nav {
                p {
                    margin-top: 50px;

                    a {
                        font-size: 2.3rem;
                        margin-left: 20px;
                    }
                }

                img {
                    width: 200px;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    :root {
        font-size: 16px;
    }

    body {
        .remonte {
            width: 40px;
        }

        header {
            #nav {
                #tel {
                    p {
                        margin-top: 10px;
                    }

                    img {
                        width: 38px;
                    }
                }
            }
        }

        main {

            #gauche,
            #droite {
                width: 40px;
            }

            #flex {
                #agrement {
                    p {
                        font-size: 2rem;
                    }

                    img {
                        width: 200px;
                    }
                }

                #adress {

                    h1,
                    h2,
                    p {
                        font-size: 2rem;
                    }
                }
            }
        }

        footer {
            #nav {
                p {
                    margin-top: 100px;

                    a {
                        font-size: 2.3rem;
                        margin-left: 50px;
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    :root {
        font-size: 16px;
    }

    body {
        footer {
            #nav {
                p {
                    margin-top: 150px;

                    a {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    :root {
        font-size: 18px;
    }

    body {
        footer {
            #nav {
                p {
                    margin-top: 200px;
                }
            }
        }
    }
}

@media screen and (min-width: 1900px) {
    :root {
        font-size: 20px;
    }

    body {
        footer {
            #nav {
                p {
                    margin-top: 250px;

                    a {
                        font-size: 3rem;
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}