@import "navhead";
@import "grid";
@import "diaporama";
@import "navfoot";
@import "visionneuse";
@import "formulaire";

:root {
    font-size: 12px;
}

* {
    font-family: roboto;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    background-image: url(../images/logo/fond6.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;


    #flex {
        display: flex;
        justify-content: space-around;
    }

    #carte {
        width: 100%;
        height: 250px;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    #scrollUp {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 10000;
    }

    .remonte {
        filter: drop-shadow(rgb(255, 255, 255) 0px 0px 5px) drop-shadow(rgb(255, 255, 255) -1px -1px 2px);
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align: middle;
    }

    li {
        list-style: none;
    }

    #red {
        p {
            color: red;
        }
    }

    main {
        position: relative;
        text-align: center;
        font-size: 1.2rem;
        width: 85%;

        .bouton_contact {
            background-color: #545674;
        }

        input,
        #textchamps {
            border-bottom: 2px solid white;
            border-top: 2px solid white;
        }


        label {
            color: white;
        }

        #textchamps,
        input {
            background-color: #84346350;
        }

        img {
            border-radius: 5px;
        }

        #contact {
            margin-bottom: 20px;
        }

        #adress {
            #clair {
                display: none;
            }

            h2,
            p {
                margin: 0;
            }
        }


        #titrepage {
            width: 200px;
            height: 40px;
            background-color: #54567475;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: 10px;

            h1 {
                text-align: center;
                font-size: 1.4rem;
                color: white;
            }
        }

        .titre {
            width: 200px;
            height: 20px;
            background-color: #54567475;
            margin: auto;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 18px;
            margin-bottom: 15px;

            h1 {
                text-align: center;
                font-size: 1.4rem;
                color: white;
            }
        }


        #realisations {
            .card {
                .overlay {
                    h2 {
                        text-transform: uppercase;
                        color: white;
                    }
                }
            }
        }

        #contact {

            #flex {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;

                #agrement {
                    text-align: center;
                    margin-top: auto;
                    margin-bottom: auto;
                    border-radius: 5px;

                    p {
                        color: white;
                        font-size: 1.3rem;
                    }
                }

                #adress {
                    text-align: left;
                    margin-left: 10px;
                    text-align: center;
                    border-radius: 5px;

                    #clair {
                        display: none;
                    }

                    h1 {
                        margin: 0;

                    }

                    h2,
                    p {
                        color: white;
                        margin: 0;
                        font-size: 1.5rem;

                    }
                }
            }
        }

        .serv {
            padding: 10px;
            text-align: center;
            color: white;

            img {
                height: 50vh;
                object-fit: cover;
            }

        }
    }
}

@media screen and (min-width: 400px) {
    :root {
        font-size: 13px;
    }

    body {
        .remonte {
            width: 20px;
        }

        header {
            #nav {
                a {
                    img {
                        width: 90px;
                    }
                }
            }
        }

        main {

            #gauche,
            #droite {
                width: 30px;
            }

            #flex {
                img {
                    width: 120px;
                }
            }
        }

        .titre {
            height: 60px;

            h1 {
                font-size: 1.6rem;

            }
        }

        footer {
            img {
                vertical-align: bottom;
            }
        }
    }

    p {
        font-size: 1.2rem;
        margin: 0;
    }
}

@media screen and (min-width: 600px) {
    body {
        header {
            #nav {
                a {
                    img {
                        width: 160px;
                    }
                }

                #tel {
                    display: flex;
                    align-items: center;
                    margin: 5px;

                    img {
                        width: 17px;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }

                .nav-menu {
                    vertical-align: middle;
                    width: 50%;
                    font-size: 1.5rem;
                }
            }
        }

        #carte {
            height: 500px;
        }

        main {
            .titre {
                width: 300px;
                height: 30px;

                h1 {
                    font-size: 2rem;
                }
            }

            #contact {
                #flex {
                    #agrement {
                        img {
                            width: 200px;
                        }

                        p {
                            font-size: 2rem;
                        }
                    }
                }
            }

            #adress {
                img {
                    width: 300px;
                }

                h2,
                p {
                    font-size: 2rem;
                    margin: 0;
                }
            }
        }

        footer {
            #foothaut {
                img {
                    width: 160px;
                }
            }

            #text {
                p {
                    font-size: 1.8rem;

                    a {
                        margin-left: 25px;
                        margin-right: 25px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 800px) {
    body {
        p {
            font-size: 1.5rem;
        }

        header {
            #nav {
                a {
                    img {
                        width: 200px;
                    }
                }

                #tel {
                    p {
                        font-size: 1.7rem;
                    }

                    img {
                        width: 25px;
                    }
                }
            }
        }

        #carte {
            height: 500px;
        }

        main {
            #titrepage {
                width: 600px;

                h1 {
                    font-size: 2rem;
                }
            }

            .titre {
                width: 500px;
                height: 40px;

                h1 {
                    font-size: 2rem;
                }
            }

            #adress {

                h2,
                p {

                    font-size: 2.5rem;
                }

                img {
                    width: 400px;
                }
            }

            #contact {
                #flex {
                    #agrement {
                        p {
                            font-size: 1.8rem;
                        }

                        img {
                            width: 200px;
                        }
                    }

                    #adress {

                        h1,
                        h2,
                        p {
                            font-size: 2rem;
                        }
                    }
                }

            }
        }

        footer {
            #nav {
                p {
                    margin-top: 50px;

                    a {
                        font-size: 2.3rem;
                        margin-left: 20px;
                    }
                }

                img {
                    width: 200px;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    :root {
        font-size: 16px;
    }

    body {
        legend {
            h1 {
                font-size: 1.2rem;
            }

            p {
                font-size: 1.3rem;
            }
        }

        .remonte {
            width: 40px;
        }

        header {
            #nav {
                .icon {
                    display: none;
                }

                .nav-menu {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 38px;
                    width: 100%;
                    bottom: -10px;


                    .dropdown {
                        position: absolute;
                        background-image: linear-gradient(#5f6383, #843463);
                        width: 338px;
                        top: 32px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        left: 120%;
                        transform: translateX(-50%);

                        li {
                            margin-left: 40px;
                            margin-right: 40px;

                            a {
                                font-size: 1.2rem;
                            }
                        }
                    }

                    .dropdown2 {
                        position: absolute;
                        width: 250px;
                        background-image: linear-gradient(#5f6383, #843463);
                        top: 32px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        left: 50%;
                        transform: translateX(-50%);

                        li {
                            margin-left: 20px;
                            margin-right: 20px;

                            a {
                                font-size: 1.2rem;
                            }
                        }
                    }

                }

                .nav-item {
                    display: inline-block;
                    margin-left: 50px;
                    margin-right: 50px;
                    position: relative;
                    z-index: 100;
                }


                #tel {
                    p {
                        font-size: 1.7rem;
                    }

                    img {
                        width: 30px;
                    }
                }
            }
        }

        main {
            .form {
                margin-top: 20px;
            }

            #titrepage {
                margin-top: 20px;
            }

            #gauche,
            #droite {
                width: 40px;
            }

            .card .overlay,
            legend {
                display: none;
                color: white;
                background-color: #5f638390;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 0;
                height: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                transition: .3s;
                overflow: hidden;
            }

            legend {
                flex-direction: column;
            }


            .card:hover .overlay,
            .element:hover legend {
                font-size: 1rem;
                width: 90%;
                height: 90%;

                img {
                    width: 100%;
                }

                h1 {
                    transform: scale(1.5);
                }

                p {
                    transform: scale(1);
                }

            }

            #flex {
                #agrement {
                    p {
                        font-size: 2rem;
                    }

                    img {
                        width: 200px;
                    }
                }

                #adress {

                    h1,
                    h2,
                    p {
                        font-size: 2rem;
                    }
                }
            }
        }

        footer {
            #nav {
                p {
                    margin-top: 100px;

                    a {
                        font-size: 2.3rem;
                        margin-left: 50px;
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    :root {
        font-size: 16px;
    }

    body {
        main {

            .element,
            .serv {
                height: 80vh;
            }
        }

        footer {
            #text {
                p {
                    font-size: 1.5rem;
                }
            }

            #nav {
                p {
                    margin-top: 150px;

                    a {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    :root {
        font-size: 18px;
    }

    body {

        footer {
            #nav {
                p {
                    margin-top: 200px;
                }
            }
        }
    }
}

@media screen and (min-width: 1900px) {
    :root {
        font-size: 24px;
    }

    body {
        .remonte {
            width: 60px;
        }

        header {
            #nav {
                a {
                    img {
                        width: 400px;
                    }
                }

                .nav-menu {
                    height: 80px;


                    img {
                        width: 400px;
                    }

                }
            }
        }

        main {

            #gauche,
            #droite {
                width: 60px;
            }

            #titrepage {
                height: 80px;
            }

            .titre {
                height: 100px;
            }

            #adress {
                img {
                    width: 800px;
                }
            }
        }

        footer {
            #nav {
                img {
                    width: 400px;
                }

                p {
                    margin-top: 150px;

                    a {
                        font-size: 3rem;
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}